.container{
    align-items: center;
    display: grid;
    max-width: max-content;
    display: calc( max-content - 100%);
}
body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(11, 8, 27);
    background-size: 100%;
}
.sun{
    width: 80px;
    height: 80px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffc831;
    box-shadow: -4px 2px 56px #f9c05f;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.mercury{
    height: 10px;
    width: 10px;
    background: #935f2a;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #f9c05f;
    left: 43%;
    top: 42%;
    transform: translate(-50%, -50%);
    animation: orbit2 2s linear infinite;
}
@keyframes orbit2{
    from{transform: rotate(0deg) translateX(70px) rotate(0deg);}
    to{transform: rotate(360deg) translateX(70px) rotate(-360deg);}
}
p{
    color: white;
    font-family: system-uil;
    position: absolute;
    left: -62px;
    top: -11px
}
.mercury-outline, .venus-outline-1, .earth-outline-1, .mars-outline-1, .jupiter-outline-1,
.saturn-outline-1, .uranus-outline-1, .neptune-outline-1{
    border-radius: 50%;
    border-color: 1px dotted #ddd9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mercury-outline{
    height: 140px;
    width: 140px;
    color: #935f2a;
}
.venus{
    height: 15px;
    width: 15px;
    background: #a94c2b;
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #c1aa81;
    left: 40%;
    top: 42%;
    transform: translate(-50%,-50%);
    animation: orbit3 10s linear infinite;
}
@keyframes orbit3{
    from{transform: rotate(0deg) translateX(120px) rotate(0deg);}
    to{transform: rotate(360deg) translateX(120px) rotate(-360deg);}
}
.venus-outline-1{
    height: 140px;
    width: 140px;
}
@keyframes orbit4{
    from{transform: rotate(0deg) translateX(160px) rotate(0deg);}
    to{transform: rotate(360deg) translateX(160px) rotate(-360deg);}
}
.earth-circle{
    height: 65px;
    width: 65px;
    position: relative;
    left: -8px;
    top: -8px;
    border-radius: 40px;
    height: 22px;
    width: 22px;
    background: #52baff;
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #aac1ff;
    left: 40%;
    top: 42%;
    transform: translate(-50%,-50%);
    animation: orbit4 16s linear infinite;
}
.earth-inner{
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 46%;
    top: 46%;
    animation: orbit5 3s linear infinite;
}
@keyframes orbit5{
    from{transform: rotate(0deg) translateX(33px) rotate(0deg);}
    to{transform: rotate(360deg) translateX(33px) rotate(-360deg);}
}
.mars{
    height: 20px;
    width: 20px;
    background: #f34404;
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #ff5757;
    left: 40%;
    top: 42%;
    transform: translate(-50%,-50%);
    animation: orbit6 25s linear infinite;
}
@keyframes orbit6{
    from{transform: rotate(0deg) translateX(270px) rotate(0deg);}
    to{transform: rotate(360deg) translateX(270px) rotate(-360deg);}
}
.mars-outline-1{
    height: 270px;
    width: 270px;
}
.jupiter{
    height: 50px;
    width: 50px;
    background: #ffd755;
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #e8f66a;
    left: 40%;
    top: 42%;
    transform: translate(-50%,-50%);
    animation: orbit7 44s linear infinite;
}
@keyframes orbit7{
    from{transform: rotate(0deg) translateX(350px) rotate(0deg);}
    to{transform: rotate(360deg) translateX(350px) rotate(-360deg);}
}
.jupiter-outline-1{
    height: 350px;
    width: 350px;
}
.saturn{
    height: 45px;
    width: 45px;
    background: #7a6008;
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #c1aa81;
    left: 40%;
    top: 42%;
    transform: translate(-50%,-50%);
    animation: orbit8 54s linear infinite;
}
@keyframes orbit8{
    from{transform: rotate(0deg) translateX(450px) rotate(0deg);}
    to{transform: rotate(360deg) translateX(450px) rotate(-360deg);}
}
.saturn-outline-1{
    height: 450px;
    width: 450px;
}
.uranus{
    height: 32px;
    width: 32px;
    background: #838ef1;
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #72aadf;
    left: 40%;
    top: 42%;
    transform: translate(-50%,-50%);
    animation: orbit9 65s linear infinite;
}
@keyframes orbit9{
    from{transform: rotate(0deg) translateX(550px) rotate(0deg);}
    to{transform: rotate(360deg) translateX(550px) rotate(-360deg);}
}
.uranus-outline-1{
    height: 550px;
    width: 550px;
}
.neptune{
    height: 28px;
    width: 28px;
    background: #838ef1;
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #72aadf;
    left: 40%;
    top: 42%;
    transform: translate(-50%,-50%);
    animation: orbit10 80s linear infinite;
}
@keyframes orbit10{
    from{transform: rotate(0deg) translateX(630px) rotate(0deg);}
    to{transform: rotate(360deg) translateX(630px) rotate(-360deg);}
}
.neptune-outline-1{
    height: 630px;
    width: 630px;
}